body{
  background-image: url('originalsketch.jpg');

}

@font-face {
  font-family: "3Dumb";
  src: url("3Dumb-webfont.svg")format("svg");
  src: url("3Dumb-webfont.eot")format("eot");
  src: url("3Dumb-webfont.ttf")format("ttf");
  src: url("3Dumb-webfont.woff")format("woff");
}

@font-face {
  font-family: "1942";
  src: url("1942-webfont.svg")format("svg");
  src: url("1942-webfont.eot")format("eot");
  src: url("1942-webfont.ttf")format("ttf");
  src: url("1942-webfont.woff")format("woff");

}

h1{
  font-size: 60px;
  font-family: "3Dumb";
  margin-left: 750px;
  text-decoration: overline;
}

#imgtitre{
  width: 70px;
  height: 70px;
  opacity: 0.4;
  margin-top: 20px;
  border-radius: 100%;
}

.gallerie{
  width: 700px;
  height:700px;
  display: flex;
  justify-content: flex-start;
  margin-top: 140px;
  opacity: 0.8;
}

.bouton1{
  height: 40px;
  width: 20px;
  border-style: double;
  border-color:#A6C0BC;
  text-align: center;
  background-color: black;
  color: white;
  margin-top: 350px;
  margin-right: 20px;
}

.bouton2{
  height: 40px;
  border-style: double;
  border-color:#A6C0BC;
  text-align: center;
  background-color: black;
  color: white;
  margin-top: 350px;
  margin-left: 20px;
}

.fa-angle-double-right {
position: sticky;
}

#img1{
  width:800px;
  height:400px;
  border-style: solid;
  border-radius: 7px;
  border-width: 12px;
  border-color: #A6C0BC;
  margin-top: 140px;
  margin-right: 50px;
}

#img2{
  width:400px;
  height:400px;
  border-style: solid;
  border-radius: 7px;
  border-width: 12px;
  border-color: #A6C0BC;
  margin-left: 150px;
  margin-top: 140px;
}
