header {
  height: 100px;
  background-image: url("original.gif");
}

h1 {
  font-family: "3Dumb";
  font-size: 60px;
  color: white;
}

@font-face {
  font-family: "3Dumb";
  src: url("3Dumb-webfont.svg")format("svg");
  src: url("3Dumb-webfont.eot")format("eot");
  src: url("3Dumb-webfont.ttf")format("ttf");
  src: url("3Dumb-webfont.woff")format("woff");
}

@font-face {
  font-family: "1942";
  src: url("1942-webfont.svg")format("svg");
  src: url("1942-webfont.eot")format("eot");
  src: url("1942-webfont.ttf")format("ttf");
  src: url("1942-webfont.woff")format("woff");

}


.texte p {
  font-size: 50px;
  font-family: monospace;
  text-align: center;
  margin-top: 10px;

}
body {
  background-image: url("8081182_dsc02450-001.jpg");
  background-size: cover;
}

.photosgallerie {
  display: flex;
  justify-content: space-around;
  margin-top: 200px;

}

.sous-titre {
  border: 3px;
  border-style: double;
  border-radius: 20px;
  border-color: black;
  background-size: cover;
  width:300px;
  height:80px;
  overflow: hidden;
  transition: height 2s;
  padding: 10px;
  font-size: 40px;
  font-family: "1942";
  text-align: center;
}

#left{
background-image: url("bg.jpg");
}

.aquarelle{
  color: black;
}

#photos{
  color:white;
}

#middle {
  background-image: url("dessin .jpg");

}

#right {
  background-image: url("large3.jpg");
}

#left:hover {
  height: 500px;
  background-image: url("bg.jpg");
  background-size: c;
}

#middle:hover {
  height: 500px;
  background-image: url("dessin .jpg");
  background-size: cover;
}

#right:hover {
  height: 500px;
  background-image: url("large3.jpg");
  background-size: cover;
}


.sous-titre p {
padding: 20px;
font-size: 25px;
font-family: fantasy;
text-align: center;
}
