header {
  height: 100px;
  background-image: url("bg.jpg");
  font-size: 50px;
  font-family: monospace;
}

.texte p {
  font-size: 50px;
  font-family: monospace;
  text-align: center;
  margin-top: 10px;

}
body {
  background-image: url("8081182_dsc02450-001.jpg");
  background-size: cover;
}

.photosgallerie {
  display: flex;
  justify-content: space-around;
  margin-top: 200px;

}

.sous-titre1 {
  border: 3px;
  border-style: double;
  border-radius: 20px;
  border-color: black;
  background-image: url("bg.jpg");
  background-size: cover;
  width:300px;
  height:80px;
  overflow: hidden;
  transition: height 2s;
  padding: 10px;
  font-size: 40px;
  font-family: fantasy;
  text-align: center;
}

.aquarelle{
  color: black;
}

.sous-titre2 {
  border: 3px;
  border-style: double;
  border-radius: 20px;
  border-color: black;
  background-image: url("dessin .jpg");
  background-size: cover;
  width:300px;
  height:80px;
  overflow: hidden;
  transition: height 2s;
  padding: 10px;
  font-size: 40px;
  font-family: fantasy;
  text-align: center;
}

.sous-titre3 {
  border: 3px;
  border-style: double;
  border-radius: 20px;
  border-color: black;
  background-image: url("acrylic.jpg");
  background-size: cover;
  width:300px;
  height:80px;
  overflow: hidden;
  transition: height 2s;
  padding: 10px;
  font-size: 40px;
  font-family: fantasy;
  text-align: center;
}

.sous-titre1:hover {
  height: 500px;
  background-image: url("bg.jpg");
  background-size: cover;
}

.sous-titre2:hover {
  height: 500px;
  background-image: url("dessin .jpg");
  background-size: cover;
}

.sous-titre3:hover {
  height: 500px;
  background-image: url("acrylic.jpg");
  background-size: cover;
}


.sous-titre1 p {
padding: 20px;
font-size: 25px;
font-family: fantasy;
text-align: center;
}

.sous-titre2 p {
padding: 20px;
font-size: 25px;
font-family: fantasy;
text-align: center;
}

.sous-titre3 p {
padding: 20px;
font-size: 25px;
font-family: fantasy;
text-align: center;
}
