
body {

background-color: #92D1F7;
background-image: url("bg.jpg")

}

.bouton {
  display:flex;
  border: 3px solid white;
  padding: 12px 30px;
  border-radius: 10px;
  color: white;
  text-decoration: none;

}

.imagelien {
  width: 300px;
  height: 200px;
  margin-top: -100px;
  border-style: double;
  border-color: black;
}

h1 {
  font-family: "3Dumb";
  font-size: 50px;
  text-align: center;
  padding: 20px 40px;
  border: 5px;
  border-radius: 7px;
  background-image:url(8081182_dsc02450-001.jpg);
  background-size: cover;
  border-style: none;
  border-color: #91A9B8;
  color: white;

}

@font-face {
  font-family: "3Dumb";
  src: url("3Dumb-webfont.svg")format("svg");
  src: url("3Dumb-webfont.eot")format("eot");
  src: url("3Dumb-webfont.ttf")format("ttf");
  src: url("3Dumb-webfont.woff")format("woff");
}

@font-face {
  font-family: "1942";
  src: url("1942-webfont.svg")format("svg");
  src: url("1942-webfont.eot")format("eot");
  src: url("1942-webfont.ttf")format("ttf");
  src: url("1942-webfont.woff")format("woff");

}

.barre{
  margin-top: 150px;
  margin right: 300px;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 200px;
  justify-content: space-around;
}

.menu {
position:absolute;
top: 170px;
overflow: hidden;
transition: width 1s;
width: 20px;
height: 100%;
background-image: url(8081182_dsc02450-001.jpg);
font-size: 30px;
font-family: "1942";

}

.fa-angle-double-right {
position: sticky;
}

.gallerie {
  color: white;
}


.menu:hover {
  width: 300px;
  background-image: url(8081182_dsc02450-001.jpg);
}

.art {
  display: flex;
  justify-content:space-around;

}

@keyframes ecartement {
  from{
    transform: scale(1);
  }

  to {
    transform: scale(1.5);
  }
}

.mot1 {

  animation-name: ecartement;
  animation-direction: alternate;
  animation-duration: 2.5s;
  animation-iteration-count: 2;
  animation-timing-function: ease-in-out;
}



#left, #middle, #right{
  border: 3px;
  border-style: double;
  border-color: white;
  border-radius: 100%;
  width: 300px;
  height: 300px;
  text-align: center;
  background-image: url("image fond gallerie.gif");
  color: white;
}


 .art p {
   padding: 30px;

 }

#left:hover, #middle:hover, #right:hover {
  background-image: url("fond gris aquarelle.jpg");
  color: black;
  border-color: black;
  border-style: double;
}
