
body {

background-color: #92D1F7;
background-image: url("bg.jpg");

}

.hello {
  width: 500px;
  height:300px;
  margin-left: 1px;
  margin-top: -20px;
}


h1 {
  font-family: "3Dumb";
  font-size: 60px;
  text-align: center;
  padding: 20px 40px;
  border: 5px;
  border-radius: 7px;
  background-image:url(8081182_dsc02450-001.jpg);
<<<<<<< HEAD
=======
  opacity:0.8;
>>>>>>> daea2c72ae689b179a3423d5c45a596b8c297a9b
  background-size: cover;
  border-style: none;
  border-color: #91A9B8;
  color: white;

}

h2 {
  font-family: "3Dumb";
  font-size: 40px;
  text-align: center;
  color: black;
  padding-bottom: 30px;
  text-decoration: overline;
}


h3{
  font-family:"1942";
  font-size: 25px;
  text-align: center;
  color: black;
  opacity: 0;
  padding-bottom:30px;
}

@font-face {
  font-family: "3Dumb";
  src: url("3Dumb-webfont.svg")format("svg");
  src: url("3Dumb-webfont.eot")format("eot");
  src: url("3Dumb-webfont.ttf")format("ttf");
  src: url("3Dumb-webfont.woff")format("woff");
}

@font-face {
  font-family: "1942";
  src: url("1942-webfont.svg")format("svg");
  src: url("1942-webfont.eot")format("eot");
  src: url("1942-webfont.ttf")format("ttf");
  src: url("1942-webfont.woff")format("woff");

}

.barre{
  margin-top: 40px;
  margin right: 300px;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 200px;
  justify-content: space-around;
}

.menu {
position:absolute;
top: 190px;
overflow: hidden;
transition: width 1s;
width: 20px;
height: 100%;
background-image: url(8081182_dsc02450-001.jpg);
font-size: 30px;
font-family: "1942";

}

.fa-angle-double-right {
position: sticky;
}

.gallerie {
  color: white;
}


.menu:hover {
  width: 300px;
  background-image: url(8081182_dsc02450-001.jpg);
}

.art {
  display: flex;
  justify-content:space-around;

}

@keyframes ecartement {
  from{
    transform: scale(1);
  }

  to {
    transform: scale(1.5);
  }
}

.mot1 {

  animation-name: ecartement;
  animation-direction: alternate;
  animation-duration: 2.5s;
  animation-iteration-count: 2;
  animation-timing-function: ease-in-out;
}



#left, #middle, #right{
  border: 3px;
  border-style: double;
  border-color: white;
  border-radius: 100%;
  width: 300px;
  height: 300px;
  text-align: center;
<<<<<<< HEAD
  background-image: url("image fond gallerie.gif");
=======
  background-image: url("large1.jpg");
>>>>>>> daea2c72ae689b179a3423d5c45a596b8c297a9b
  color: white;
}


 .art p {
   padding: 30px;

 }

#left:hover, #middle:hover, #right:hover {
  background-image: url("fond gris aquarelle.jpg");
  color: black;
  border-color: black;
  border-style: double;
}
